header {
	padding: 1rem 2rem;
}

h1 {
	color: var(--app-orange-90);
}

main {
	max-width: 800px;
	min-height: 100vh;
	margin: 0 auto;
}

.todo-form {
	padding: 8px 60px;
	margin-bottom: 3rem;
}

.todo-form__input-container {
	display: flex;
	gap: 8px;
}

.todo-form__input {
	padding: 1rem;
	font-size: 1rem;
	width: 100%;
	border: 1px solid var(--app-orange-60);
	border-radius: 0.25rem;
}

.todo-form__button {
	border: 1px solid var(--app-orange-60);
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	flex-shrink: 0;

	&:hover {
		background-color: var(--app-orange-10);
	}
}

.horizontal {
	margin: 30px 0;
}

.todo-item__container {
	display: flex;
	width: 400px;
	margin: 0 auto;

	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.todo-item {
	height: 50%;
	padding: 0 1rem;
	margin-top: 8px;
	display: flex;
	width: 100%;
	border: 1px solid var(--app-orange-60);
	border-radius: 8px;
}

.todo-item__content {
	flex-grow: 1;
	align-self: center;
}

.todo-item__checkbox-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	flex-shrink: 0;
}

.todo-item__checkbox {
	cursor: pointer;
	border: 1px solid var(--app-orange-60);
	width: 1rem;
	height: 1rem;
	aspect-ratio: 1 / 1;
	border-radius: 0.25rem;
	position: relative;

	&:hover {
		border-width: 2px;
	}
}

.todo-item__checkbox--checked {
	background-color: var(--app-orange-60);
}

.todo-item__checkmark {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	transform-origin: top left;
	transform: rotate(45deg) translateX(-70%) translateY(-70%);
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}

.todo-item__checkbox > input {
	width: 0;
	height: 0;
}

footer {
	height: 4rem;
}

.form__container button {
	border: none;
	border-radius: 0.375rem;
	cursor: pointer;
}

.form__button-container {
	display: flex;
}

.form__button {
	background-color: white;
	color: var(--app-purple);
	padding: 1rem 2rem;
	margin-right: 0.5rem;
}

.form__submit-button {
	margin-right: 0.5rem;
	padding: 1rem 2rem;
	background-color: var(--app-purple);
	color: white;
}
