.todo-form {
	padding: 8px 60px;
}

.todo-form__input-container {
	display: flex;
	gap: 8px;
}

.todo-form__input {
	padding: 0.5rem;
	font-size: 1rem;
	width: 100%;
	border: 1px solid var(--app-orange);
	border-radius: 0.25rem;
}

.todo-form__button {
	border: 1px solid var(--app-orange);
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	flex-shrink: 0;
}

.horizontal {
	margin: 30px 0;
}

.todo-item__container {
	display: flex;
	width: 400px;
	margin: 0 auto;

	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.todo-item {
	height: 50%;
	padding: 0 1rem;
	margin-top: 8px;
	display: flex;
	width: 100%;
	border: 1px solid var(--app-orange);
	border-radius: 8px;
}

.todo-item__content {
	flex-grow: 1;
}

.todo-item__checkbox-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	flex-shrink: 0;
}

.todo-item__checkbox {
	cursor: pointer;
	flex-shrink: 1;
	border: 1px solid var(--app-orange);
	height: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 0.25rem;
	position: relative;
}

.todo-item__checkbox--checked {
	background-color: var(--app-orange);
}

.todo-item__checkmark {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	transform-origin: top left;
	transform: rotate(45deg) translateX(-70%) translateY(-70%);
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}

.todo-item__checkbox > input {
	width: 0;
	height: 0;
}
